
## Libraries

In [40]:
import numpy as np
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [41]:
df = pd.read_csv('application_data.csv')

### Data

In [42]:
print(df)

print('\n')

print('Dataset Dimension: ', end='')
print(df.shape)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
...                 ...                        ...                       ...
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
...                            ...                        ...
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0                         1.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[307511 rows x 122 columns]


Dataset Dimension: (307511, 122)

## Columns

In [43]:
print(df.columns.to_list())

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

# Exploratory Data Analysis

### Missing Values
#### White lines indicate missing values.

In [ ]:
print(msno.matrix(df))

AxesSubplot(0.125,0.125;0.698618x0.755)

In [ ]:
print('Missing Values Count: ')
print('\n')
print(df.isnull().sum())

### Default Summary

In [ ]:
plt.figure(figsize=(8,6))
sns.countplot(x='TARGET', data=df, color="palevioletred", alpha=0.5)
plt.xlabel('Target', fontsize=16, fontfamily='serif', fontweight='bold')
plt.legend(['Good Standing = 0'
           '    Defaulted = 1'])
text_1 = '282686'
text_2 = '24825'
plt.text(0.0,0.0, text_1, horizontalalignment='center', verticalalignment='bottom',fontsize=16, fontfamily='serif')
plt.text(0.98,-550.0, text_2, horizontalalignment='center', verticalalignment='bottom',fontsize=16, fontfamily='serif')
plt.title('Loan Defaulter', fontsize=16, fontfamily='serif')
plt.tight_layout()
plt.show()

print('Target Summary: ')
print(df['TARGET'].value_counts())

# Financial Products

### Cash Loans

In [ ]:
loan = df['TARGET'].groupby(df['NAME_CONTRACT_TYPE'])

cash = loan.get_group('Cash loans').value_counts()
revolving = loan.get_group('Revolving loans').value_counts()


plt.figure(figsize=(8,6))
cash.plot(kind='bar', label='0 = Good Standing', color='palevioletred',alpha=0.3)
cash.plot(kind='bar', label='1 = Defaulted', color='palevioletred',alpha=0.3)
plt.xticks(rotation=0)
text1='8.35% Defaulted'
text2 = '91.65% Current'
plt.text(.789, -5, text1, fontsize=13, fontfamily='serif', verticalalignment='bottom')
plt.text(-.21, 16.1, text2, fontsize=13, fontfamily='serif', verticalalignment='bottom')
plt.legend()
plt.title('Cash Loans', fontsize=16, fontfamily='serif')
plt.tight_layout()
plt.show()

print('Cash Loans: ')
print(cash)

### Revolving Loans

In [ ]:
plt.figure(figsize=(8,6))
revolving.plot(kind='bar', label='0 = Good Standing', color='palevioletred',alpha=0.3)
revolving.plot(kind='bar', label='1 = Defaulted', color='palevioletred',alpha=0.3)
plt.xticks(rotation=0)
text='5.48% Defaulted'
text_ = '94.52% Current'
plt.text(.752, -5, text, fontsize=15, fontfamily='serif', verticalalignment='bottom')
plt.text(-.241, -5, text_, fontsize=15, fontfamily='serif', verticalalignment='bottom')
plt.legend()
plt.title('Revolving Loans', fontsize=16, fontfamily='serif')
plt.tight_layout()
plt.show()

print('Revolving Loans: ')
print(revolving)

# Consumers

### Total Consumers by Gender

In [ ]:
#Removing category XNA
df['CODE_GENDER'] = df['CODE_GENDER'].astype('category')
df['CODE_GENDER'] = df['CODE_GENDER'].cat.remove_categories('XNA')

ftxt = '65.84%'
mtxt = '34.17%'
xxtxt = '0%'

plt.figure(figsize=(8,6))
df['CODE_GENDER'].value_counts().plot(kind='bar', color=['thistle', 'lightskyblue'], alpha=0.70)
plt.text(-0.078,0.0, ftxt, fontsize=14)
plt.text(0.920,0.0, mtxt, fontsize=14)
plt.title('Consumers by Gender', fontsize=16, fontfamily='serif')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

print('Gender Summary: ')
print(df['CODE_GENDER'].value_counts())

### Default Summary by Gender
#### [ 0 = Good Standing, 1 = Defaulted ]

In [ ]:
gender = df['TARGET'].groupby(df['CODE_GENDER'])

female_code = gender.get_group('F')
female_code.value_counts()

male_code = gender.get_group('M')
male_code.value_counts()

default_gender = pd.DataFrame()
default_gender['female'] = female_code.value_counts()
default_gender['male'] = male_code.value_counts()

plt.figure(figsize=(10,10))
default_gender.plot(kind='bar', color=['thistle', 'lightskyblue'], alpha=0.7)
plt.title('Default Summary by Gender', fontsize=16, fontfamily='serif')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

print(default_gender)

### Income Summary by Gender

In [ ]:
money = df['AMT_INCOME_TOTAL'].groupby(df['CODE_GENDER'])
female_money = money.get_group('F').describe()

money = df['AMT_INCOME_TOTAL'].groupby(df['CODE_GENDER'])
male_money = money.get_group('M').describe()

df_gender = pd.DataFrame()
df_gender['male_income'] = money.get_group('M').describe()
df_gender['female_income'] = money.get_group('F').describe()

print(df_gender)

# To be continued....